/.vscode
/Progregss-natives
/local
/ldlib
/logs
/natives-windows-x86_64
/patchouli_books
/resourcepacks
/saves
/screenshots
/versions
/PCL
hmclversion.cfg
log4j2.xml
usernamecache.json
usercache.json
rhino.local.properties
Progregss.json
Progregss.jar
patchouli_data.json
${quickPlayPath}
options.txt
servers.dat